/* 00 Font imports */
/* 01 Initalizers and Resets */

:root {
    font-size: 62.5%;
	--primary: dimgray;
	--secondary: gray;
}

body{
	font-size: 1.6rem;
    font-family: "Raleway";
	font-weight: 300;
	letter-spacing: 3.5px;
	 color: white;
	 background-color: #1f1f1f;
     /* background-image: url("../img/mountains.jpg"); */
}

/* Scrollbar styles */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--secondary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 12px;
  }
  
  *::-webkit-scrollbar-track {
	background: var(--primary);
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
  /*   background: repeating-linear-gradient(
	  45deg,
	  var(--secondary),
	  var(--secondary) 5px,
	  var(--primary) 5px,
	  var(--primary) 10px
	); */
	border-radius: 20px;
	border: 3px solid var(--primary);
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #414141; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }*
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1f1f1f; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #1F1F1F; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }